<ul>
<% @posts.each do |post| %>
  <li><a href="http://mobilizer.instapaper.com/m?u=<%= post["url"] %>" target="_blank"><%= post["title"].to_s %></a> - <a href="/read/<%= post["id"] %>">Mark as Read</a></li>
<% end %>
</ul>

<br><br>
<a href="/logout">Log out</a>