<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
  	<title>ReadIt</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/readit.js"></script>
    <script type="text/javascript" src="//use.typekit.net/auh4vjh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel=stylesheet href="/style.css" type="text/css">
    <link rel=stylesheet href="/animate.css" type="text/css">
  </head>
  <body>
		<%= yield %>
  </body>
</html>