<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
  	<title>ReadIt</title>
  </head>
  <body>
    <style> html { font-family: helvetica; } a { text-decoration: none; color: #383838;} a:visited { color: #787878; }</style>
    <h1>ReadIt</h1>
			<%= yield %>
  </body>
</html>