<p>Please enter your <a href="http://feedbin.me">Feedbin</a> username and password. These are not stored in any database, and are erased from earth as soon as you log out.</p>
<form method="post">
    Email:<input type="text" name="email" placeholder="steve@apple.com" />
    Password:<input type="password" name="password" />
    <input type="submit" value="Log In" action="/login" />
</form>

<p>View on <a href="https://github.com/ColbyAley/ReadIt">Github</a>